@import "~bootstrap/scss/bootstrap.scss";

Body{
    vertical-align: middle
}
.cable{
background-color: black;
 width: 50px;
height: 100px;
}

.light-container{
    background-color: black;
    width: 200px;
    height: 400px;
    border-radius: 25px;


}

.light{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.red{
background-color: red;
}

.yellow{
background-color: yellow;
}

.green{
background-color: green;
}

.selected.red{
    box-shadow: 0px 0px 40px 20px red;
}

.selected.yellow{
    box-shadow: 0px 0px 40px 20px yellow;
}

.selected.green{
    box-shadow: 0px 0px 40px 20px green;
}